.article-card {
  width: 350px;
  height: 600px;


  img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  h2, p {
    text-align: center;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  button {
    display: block;
    margin: auto;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
  }
}
