* {
  font-family: Roboto, Helvetica, sans-serif;
}

.container {
  flex-wrap: wrap;
  width: 1200px;
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: 1em;
}


